/dist
*.egg-info
*.mo
__pycache__
/.venv/
/services/ollama/
/services/qdrant/
/learn2rag/evaluation/qdrant_data/
/learn2rag/pipeline/qdrant_data/
/datasets/
# direnv
/.envrc
# custom user config
/config.yml
/learn2rag/pipeline/data/loaded_documents_kcenter.json
/.env
/.local.envrc
/.idea
*.pdf
.vscode/launch.json
learn2rag/pipeline/.env
/learn2rag/pipeline/data/eval_samples_csc.csv
/learn2rag/pipeline/data/eval_samples_chatgpt.csv
*.lock
compose.db
/services/package-lock.json

