bs4
cliff
colorlog
fastapi==0.115.11
grandalf
httpx[socks]
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-redis
langgraph
lxml
lxml-stubs
mypy
pypdf
sentence-transformers
simsimd
types-PyYAML
uvicorn==0.34.0
