{% extends 'learn2rag_bootstrap_base.html' %}


{% block title %}AI Chat{% endblock %}


{% block main %}
<ul class="list-group">
  {% for prefix, router in auth_routers.items() %}
  {% for name, label in router.registered_applications().items() %}
  {% if name in user_auths %}
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
    <span class="badge text-bg-success rounded-pill">Logged in</span>
    {{ label }}
    <form method="POST" action="{{ auth_prefix }}/{{ prefix }}{{ router.url_path_for('logout', name=name) }}">
      <button type="submit" class="btn btn-danger">
        Log out
      </button>
    </form>
  </li>
  {% else %}
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
    <span class="badge text-bg-danger rounded-pill">Not logged in</span>
    {{ label }}
    <form method="POST" action="{{ auth_prefix }}/{{ prefix }}{{ router.url_path_for('login', name=name) }}">
      <button type="submit" class="btn btn-success">
        Log in
      </button>
    </form>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>


<div class="ratio ratio-16x9"><iframe src="chat/"></iframe></div>
{% endblock %}
