<table class="table" id="pipelines_list_table" hx-swap-oob="true" hx-get="" hx-trigger="every 15s" hx-swap="none">
  <thead>
    <tr>
      <th scope="col">{{pgettext('column_heading', 'Label')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Storage directory path')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Language model')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Data sources')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Ports')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Status')}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for name, pipeline in pipelines.items() %}
    <tr>
      <td title="{{ name }}">
        {{ pipeline.label }}
      </td>
      <td>{{ pipeline.storage_path }}</td>
      <td>
        <span class="badge text-bg-secondary">{{ models[pipeline.language_model].label }}</span>
      </td>
      <td>
        {% for source in pipeline.sources %}
        <span class="badge text-bg-secondary">{{ sources[source].label }}</span>
        {% endfor %}
      </td>
      <td>
        {% for port in pipeline.ports %}
        <span class="badge text-bg-secondary">{{ port }}</span>
        {% endfor %}
      </td>
      <td>
        {% if projects[name] and not projects[name].running %}
        {% if projects[name].succeeded %}<span title="{{pgettext('tooltip', 'succeeded')}}" style="cursor: default;">✔️</span>{% endif %}
        {% if projects[name].failed %}<span title="{{pgettext('tooltip', 'failed')}}" style="cursor: default;">❌</span>{% endif %}
        {% endif %}
        {% if projects[name] and projects[name].running %}
        <span class="badge text-bg-success">{{projects[name].content.get('label', gettext('running'))}}</span>
        {% endif %}
      </td>
      <td>
        <div class="dropdown">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
              {% if not (projects[name] and projects[name].running) %}
              {% for project_name, project in compose_templates.items() %}
              <form method="POST" action="{{ url_for('pipeline_action', name=name) }}">
                <button class="btn btn-primary" type="submit" name="action" value="start:{{ project.name }}">{{project.label}}</button>
              </form>
              {% endfor %}
              {% endif %}
              {% if projects[name] and projects[name].running %}
              {% if 'ui_url' in projects[name].content %}
              <a
                class="btn {% if projects[name].health %}btn-primary{% else %}btn-secondary{% endif %}"
                {% if not projects[name].health %}style="cursor: not-allowed;"{% endif %}
                href="{{ projects[name].content['ui_url'] }}"
                role="button"
                target="_blank"
                >
                {% if projects[name].health %}
                {{pgettext('button', 'Open')}}
                {% else %}
                <div class="spinner-border spinner-border-sm"></div>
                {% endif %}
              </a>
              {% else %}
              <a class="btn btn-secondary">
                <div class="spinner-border spinner-border-sm"></div>
              </a>
              {% endif %}
              <form method="POST" action="{{ url_for('pipeline_action', name=name) }}">
                <button type="submit" class="btn btn-warning" name="action" value="stop">
                  {{pgettext('button', 'Stop')}}
                </button>
              </form>
              {% else %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{pgettext('button', 'More')}}
                </button>
                <ul class="dropdown-menu">
                  {% if debug_logging %}
                  <li>
                    <a href="{{ url_for('pipeline_logs', name=name, file='debug.log') }}" class="dropdown-item">
                      {{pgettext('button', 'Show debug log')}}
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{{ url_for('pipeline_logs', name=name, file='error.log') }}" class="dropdown-item">
                      {{pgettext('button', 'Show error log')}}
                    </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form method="POST" action="{{ url_for('pipeline_action', name=name) }}" hx-boost="true" hx-confirm="{{gettext('Are you sure you want to remove this pipeline configuration and all stored data: %(label)s?', label=pipeline.label)}}">
                      <input type="hidden" name="action" value="delete"/>
                      <button type="submit" class="dropdown-item text-bg-danger">
                        {{pgettext('button', 'Remove')}}
                      </button>
                    </form>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form method="POST" action="{{ url_for('pipeline_action', name=name) }}" hx-boost="true" hx-confirm="{{gettext('Are you sure you want to clean this pipeline storage: %(label)s?', label=pipeline.label)}}">
                      <input type="hidden" name="action" value="clean"/>
                      <button type="submit" class="dropdown-item text-bg-danger">
                        {{pgettext('button', 'Clean storage')}}
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
