<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">You do not have any models configured</h4>
  <p>Do you want to download a suggested model now?</p>
  <hr/>
  <div class="btn-toolbar mb-3" role="toolbar">
    {% if ollama_available %}
    <div class="input-group">
      <form method="POST" action="{{ url_for('model_create') }}">
        <input type="hidden" name="ollama" value="{{ suggested_models['tinyllama'].ollama }}"/>
        <input type="hidden" name="label" value="{{ suggested_models.tinyllama.label }}"/>
        <input type="hidden" name="api" value="{{ suggested_models.tinyllama.config.api }}"/>
        <input type="hidden" name="url" value="{{ suggested_models.tinyllama.config.url }}"/>
        <input type="hidden" name="model" value="{{ suggested_models.tinyllama.config.model }}"/>
        <input type="hidden" name="token" value="{{ suggested_models.tinyllama.config.token }}"/>
        <button type="submit" class="btn btn-primary">{{ pgettext('button', 'Download a suggested language model (%(model)s)', model=suggested_models.tinyllama.label) }}</button>
      </form>
    </div>
    {% endif %}
    <div class="btn-group me-2" role="group">
      <a href="{{ url_for('models_list') }}" class="btn btn-link">{{ pgettext('button', 'More options') }}</a>
    </div>
  </div>
</div>
