<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">You do not have any models configured</h4>
  <p>Do you want to download a suggested model now?</p>
  <hr/>
  <div class="btn-toolbar mb-3" role="toolbar">
    {% if ollama_available and firststeps_model %}
    <div class="input-group">
      <form method="POST" action="{{ url_for('model_create') }}" hx-boost="true" hx-target="#main">
        <input type="hidden" name="ollama" value="{{ firststeps_model.ollama }}"/>
        <input type="hidden" name="label" value="{{ firststeps_model.label }}"/>
        <input type="hidden" name="api" value="{{ firststeps_model.config.api }}"/>
        <input type="hidden" name="url" value="{{ firststeps_model.config.url }}"/>
        <input type="hidden" name="model" value="{{ firststeps_model.config.model }}"/>
        <input type="hidden" name="token" value="{{ firststeps_model.config.token }}"/>
        <button type="submit" class="btn btn-primary" title="{{firststeps_model.description}}">
          {{ pgettext('button', 'Download a suggested language model: %(model)s', model=firststeps_model.label) }}
        </button>
      </form>
    </div>
    {% endif %}
    <div class="btn-group me-2" role="group">
      <a href="{{ url_for('models_list') }}" class="btn btn-link">{{ pgettext('button', 'More options') }}</a>
    </div>
  </div>
</div>
