{% macro pipeline_current_status(name) %}
{% if projects[name] and projects[name].running %}
{% if projects[name].content.get('name') == 'continuous' %}
{{ pgettext('status', 'Importing and running AI chat') }}
{% elif projects[name].content.get('name') == 'import' %}
{{ pgettext('status', 'Importing') }}
{% elif projects[name].content.get('name') == 'pipeline' %}
{{ pgettext('status', 'Running AI chat') }}
{% else %}
{{ projects[name].content.get('label', pgettext('status', 'Running')) }}
{% endif %}
{% else %}
{% if projects[name].succeeded %}
{{ pgettext('status', 'Last run succeeded') }}
{% elif projects[name].failed %}
{{ pgettext('status', 'Last run failed') }}
{% endif %}
{% endif %}
{% endmacro %}
