{% if models | length == 0 %}
<p class="d-flex gap-1">
  {{pgettext('list', 'No language models configured')}}
</p>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{pgettext('column_heading', 'Label')}}</th>
      <th scope="col">{{pgettext('column_heading', 'API type')}}</th>
      <th scope="col">{{pgettext('column_heading', 'API URL')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Access token')}}</th>
      <th scope="col">{{pgettext('column_heading', 'Language model')}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for name, model in models.items() %}
    <tr>
      <td title="{{ name }}">{{ model.label }}</td>
      <td>
        {% if model.api in llm.llms %}
        {{ llm.llms[model.api].LABEL }}
        {% else %}
        <code>{{ model.api }}</code>
        <span title="{{pgettext('tooltip', 'Unknown value')}}" style="cursor: default;">⚠️</span>
        {% endif %}
      </td>
      <td>{{ model.url }}</td>
      <td>{{ model.token }}</td>
      <td>{{ model.model }}</td>
      <td>
        <form method="POST" action="{{ url_for('model_action', name=name) }}" hx-boost="true" hx-confirm="{{gettext('Are you sure you want to remove this language model configuration: %(label)s?', label=model.label)}}">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-danger" name="action" value="delete">{{pgettext('button', 'Remove')}}</button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
