{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{pgettext('title', 'Pipelines')}}{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if models | length < 1 %}
<p class="d-flex gap-1">
  <a href="{{url_for('models_list')}}" class="alert alert-primary">
    {{gettext('Add at least one language model first')}}
  </a>
</p>
{% endif %}
{% if sources | length < 1 %}
<p class="d-flex gap-1">
  <a href="{{url_for('sources_list')}}" class="alert alert-primary">
    {{gettext('Add at least one data source first')}}
  </a>
</p>
{% endif %}
{% if models | length >= 1 and sources | length >= 1 %}
<p class="d-flex gap-1">
  <button accesskey="n" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreate" aria-expanded="false" aria-controls="collapseCreate">
    {{pgettext('button', 'Add a new pipeline')}}
  </button>
</p>
<div class="collapse" id="collapseCreate">
  <div class="card card-body">
    {% include 'pipelines_add.html' %}
  </div>
</div>
{% endif %}

{% include 'pipelines_list.html' %}
{% endblock %}
