{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pipelines{% endblock %}</h1>
{% endblock %}

{% block content %}
<p class="d-inline-flex gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreate" aria-expanded="false" aria-controls="collapseCreate">
    Add new pipeline
  </button>
</p>
<div class="collapse" id="collapseCreate">
  <div class="card card-body">

    <form method="POST">
      <div class="mb-3">
        <label for="label" class="form-label">Label</label>
        <input class="form-control" name="label">
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">Storage path</label>
        <input class="form-control" name="storage_path">
      </div>
      <div class="mb-3">
        <label for="language_model" class="form-label">Sprachmodell</label>
        <select class="form-select" name="language_model">
          {% for name, language_model in language_models.items() %}
          <option value="{{ name }}">{{ language_model.label }} ({{ language_model.model }})</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="sources" class="form-label">Sources</label>
        <select class="form-select" multiple="multiple" name="sources">
          {% for name, source in sources.items() %}
          <option value="{{ name }}" selected="selected">{{ source.label }} ({{ source.path }})</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Storage path</th>
      <th scope="col">Sprachmodell</th>
      <th scope="col">Sources</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for name, pipeline in pipelines.items() %}
    <tr>
      <th scope="row">{{ name }}</th>
      <td>
        {{ pipeline.label }}
        {% if projects[name] and projects[name].running %}
        <span class="badge text-bg-success">running</span>
        {% endif %}
      </td>
      <td>{{ pipeline.storage_path }}</td>
      <td>
        <span class="badge text-bg-secondary">{{ language_models[pipeline.language_model].label }}</span>
      </td>
      <td>
        {% for source in pipeline.sources %}
        <span class="badge text-bg-secondary">{{ sources[source].label }}</span>
        {% endfor %}
      </td>
      <td>
        <form method="POST" action="{{ url_for('pipeline_action', name=name) }}">
          <div class="dropdown">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group">
                {% if not (projects[name] and projects[name].running) %}
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Start
                </button>
                <ul class="dropdown-menu">
                  {% for name, project in compose_templates.items() %}
                  <li><button class="dropdown-item" type="submit" name="action" value="start:{{ name }}">{{ project.name }}</button></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            {% if projects[name] and projects[name].running %}
            <div class="btn-group" role="group">
              <a class="btn btn-primary" href="{{ pipeline.ui_url }}" role="button" target="_blank">
                Open
              </a>
              <button type="submit" class="btn btn-warning" name="action" value="stop">
                Stop
              </button>
            </div>
            {% else %}
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-danger" name="action" value="delete">
                Remove
              </button>
            </div>
            {% endif %}
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
