<form method="POST" id="addPipeline">
  <div class="mb-3">
    <label for="label" class="form-label">{{pgettext('form_label', 'Label')}}</label>
    <input required="required" class="form-control" name="label" title="{{pgettext('tooltip', 'A custom display name for this pipeline')}}">
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">{{pgettext('form_label', 'Storage directory path')}}</label>
    <input required="required" class="form-control" name="storage_path" value="{{default_storage_prefix}}{{current_timestamp}}" data-default-prefix="{{default_storage_prefix}}"/>
  </div>
  <div class="mb-3">
    <label for="language_model" class="form-label">{{pgettext('form_label', 'Language model')}}</label>
    <select class="form-select" name="language_model">
      {% for name, language_model in models.items() %}
      <option value="{{ name }}">{{ language_model.label }} ({{ language_model.model }})</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    {{pgettext('form_label', 'Data sources')}}
    {% for name, source in sources.items() %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="sources" value="{{name}}" id="source-{{loop.index}}" checked="checked">
      <label class="form-check-label" for="source-{{loop.index}}">{{source.label}} ({{source.path or source.url or source.base_url}})</label>
    </div>
    {% endfor %}
  </div>
  <div class="mb-3">
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".advanced-configuration">
      {{gettext('Advanced configuration')}}
    </button>
  </div>
  <div class="mb-3 collapse advanced-configuration">
    <div class="mb-3">
      <label for="import_schedule_interval_hours" class="form-label">{{pgettext('form_label', 'Automatically import data with interval (hours)')}}</label>
      <input class="form-control" name="import_schedule_interval_hours"
             type="number" min="0" step="any"
             value="12"
             />
    </div>
    <div class="mb-3">
      <label for="ports" class="form-label">{{pgettext('form_label', 'Chat proxy URL')}}</label>
      <input class="form-control" name="chat_proxy_url" type="url">
    </div>
    <label for="ports" class="form-label">{{pgettext('form_label', 'Ports')}}</label>
    <small class="text-body-secondary">{{gettext('Optional')}}</small>
    <div>
    </div>
    {# TODO: labels in the interface currently assume a specific port order in all corresponding .yml files #}
    <div class="form-floating mb-3">
      <input class="form-control" name="ports" type="number" min="1" max="65535">
      <label for="ports" class="form-label">{{pgettext('form_label', 'User interface')}}</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" name="ports" type="number" min="1" max="65535">
      <label for="ports">{{pgettext('form_label', 'Internal RAG service')}}</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" name="ports" type="number" min="1" max="65535">
      <label for="ports">{{pgettext('form_label', 'Internal vector store')}}</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" name="ports" type="number" min="1" max="65535">
      <label for="ports">{{pgettext('form_label', 'Additional internal port')}}</label>
    </div>
  </div>
  <div class="mb-3 collapse advanced-configuration">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="yes" id="import" name="import" checked>
      <label class="form-check-label" for="import">
        {{pgettext('form_label', 'Immediately do the data import')}}
      </label>
    </div>
    <small class="text-body-secondary">{{gettext('You can always do the data import later.')}}</small>
  </div>
  <button type="submit" class="btn btn-primary">{{pgettext('button', 'Save')}}</button>
</form>

<script>
  const labelInput = document.querySelector('#addPipeline input[name=label]');
  const storageInput = document.querySelector('#addPipeline input[name=storage_path]');
  const update = (event) => {
      if (storageInput.value.startsWith(storageInput.dataset.defaultPrefix)) {
          const suffix = labelInput.value.replace(/[^A-Za-z0-9]/g, '_');
          if (/[^_]/.test(suffix)) {
              storageInput.value = storageInput.dataset.defaultPrefix + suffix;
          }
      }
  };
  labelInput.addEventListener('change', update);
  labelInput.addEventListener('input', update);
</script>
