{% macro pipeline_start(name, project, cls) %}
<form method="POST" action="{{ url_for('pipeline_action', name=name) }}">
  <button class="{{ cls }}" type="submit" name="action" value="start:{{ project.name }}">{{project.label}}</button>
</form>
{% endmacro %}

<div class="list-group" id="pipelines_list" hx-swap-oob="true" hx-get="" hx-trigger="every 15s" hx-swap="none">
  {% for name, pipeline in pipelines.items() %}
  <a
    href="{{ url_for('pipeline_details', name=name) }}"
    class="list-group-item list-group-item-action
           {% if projects[name] %}
           {% if projects[name].running %}
           list-group-item-info
           {% else %}
           {% if projects[name].succeeded %}
           list-group-item-success
           {% endif %}
           {% if projects[name].failed %}
           list-group-item-danger
           {% endif %}
           {% endif %}
           {% endif %}
           "
    >
    <h5>{{ pipeline.label }}</h5>
    {% if projects[name] %}
    {% if projects[name].running %}
    <p>{{pgettext('status', 'Currently running: %(pipeline)s', pipeline=projects[name].content.get('label', gettext('running')))}}</p>
    {% else %}
    {% if projects[name].succeeded %}
    <p>{{pgettext('status', 'Last run succeeded')}}</p>
    {% endif %}
    {% if projects[name].failed %}
    <p>{{pgettext('status', 'Last run failed')}}</p>
    {% endif %}
    {% endif %}
    {% endif %}
    {% if pipeline.status_message %}
    <small class="text-body-secondary" style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 100%;">{{ pipeline.status_message }}</small>
    {% endif %}
  </a>
  {% endfor %}
</div>
