<form method="POST">
  <input type="hidden" name="type" value="local"/>
  <div class="mb-3">
    <label for="label" class="form-label">{{pgettext('form_label', 'Label')}}</label>
    <input required="required" class="form-control" name="label" title="{{pgettext('tooltip', 'A custom display name for this data source')}}">
  </div>
  <div class="mb-3">
    <input type="hidden" name="type" value="local"/>
    <label for="path" class="form-label">{{pgettext('form_label', 'Path on the local filesystem')}}</label>
    <input class="form-control" name="path" required="required"
           {% if is_windows %}
           title="{{pgettext('tooltip', 'For example: %(path)s', example_local_path)}}"
           {% else %}
           title="{{pgettext('tooltip', 'For example: /home/user/Documents')}}"
           {% endif %}
           >
  </div>
  <button type="submit" class="btn btn-primary">{{pgettext('button', 'Save')}}</button>
</form>
