<form method="POST">
  <input type="hidden" name="type" value="web"/>
  <div class="mb-3">
    <label for="label" class="form-label">{{pgettext('form_label', 'Label')}}</label>
    <input required="required" class="form-control" name="label" title="{{pgettext('tooltip', 'A custom display name for this data source')}}">
  </div>
  <div class="mb-3">
    <input type="hidden" name="type" value="web"/>
    <label for="url" class="form-label">{{pgettext('form_label', 'Web page URL')}}</label>
    <input type="url" class="form-control" name="url" required="required" title="{{pgettext('tooltip', 'For example: https://learn2rag.de/')}}">
    <input type="hidden" name="depth" value="0"/>
  </div>
  <button type="submit" class="btn btn-primary">{{pgettext('button', 'Save')}}</button>
</form>
